@use "../base/variables" as *;

.social-icon {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: var(--bg-button);

    }

    &:hover .fa-brands {
        color: var(--light-text-color);
    }
}

.fa-brands {
    font-size: toRem(20px);
    color: var(--bg-button);
    transition: color 0.2s ease-in;
}

.fa-github {
    font-size: toRem(30px);
    cursor: pointer;
    color: var(--dark-text-color);
}

.github-link {
    margin-top: toRem(60px);
}