@use '../base/variables' as *;

.form {
    width: 100%;
    margin-bottom: 70px;

    &__input {
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 3em;
        color: var(--text-dark-color);
        padding: 1em em(40px, 16px);
        font-size: 1rem;
        height: 55px;

        &:focus,
        &:active {
            outline: none;
            border: 1px solid var(--border-active-color);
        }

        &::placeholder {
            color: var(--text-color);
            font-size: 1rem;
            font-weight: var(--fw-normal);
            overflow: visible;
        }
    }

    &__error {
        visibility: hidden;
        font-size: rem(14px);
        font-style: italic;
        color: var(--error-color);
    }
}

.visible {
    visibility: visible;
    margin-top: 0.5em;
    margin-bottom: 2.5em;
}

.border-red {
    border: 1px solid var(--error-color);
}